services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "StrongPassword123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql

  api:
    build: 
      context: ./api
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "5116:8080"
    environment:
      - ConnectionStrings__DefaultConnections=Server=db;Database=ItrackDB;User Id=sa;Password=StrongPassword123!;TrustServerCertificate=True;
      - DOTNET_RUNNING_IN_CONTAINER=true
    command: ["dotnet", "api.dll"]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"


volumes:
  mssql-data:
