body{
  background-color: white;
}


.container {
  display: flex;
  gap: 20px; /* Odstęp między elementami */
  justify-content: space-around;
  align-items: space-evenly;
}


.card-list{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}


.card-list-container{
  box-shadow: 0px 0px 30px -7px #525d6b;
  margin:20px;
  background-color: white;
  width:78%;

}

.filters{
  background-color: blue;
  margin: 20px;
  padding: 25px;
  height: 700px;
  width: 22%;
  background-color: white;
  box-shadow: 0px 0px 30px -7px #525d6b;
}

